* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

html, body,#root {
  width: 100%;
  height: 100%;
  color: rgb(195, 194, 194);
 
}
html{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notes{
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  padding-block: 1rem;
  padding-inline: 1rem;
}
.note{
  outline: none;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: rgb(36, 35, 35);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 20rem;
  color:  rgb(169, 169, 169);
}
.noteform{
  display: flex;
  padding-inline: 3rem;
  padding-block: 1rem;
  background-color: rgb(36, 35, 35);
  /* flex-direction: row; */
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}